.userDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.company-detail {
  width: 80%;
  background: #f2f2f2;
  border-radius: 10px;
  padding: 10px 80px 10px 25px;
  font-family: Red Hat Text;
  font-size: 30px;
  line-height: 40px;
  margin: 20px 0;
}
.company-detail .company-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: black;
}

.company-detail .img-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-detail .company-name {
  padding-left: 30px;
}
.company-detail .comp {
  font-size: 25px;
  line-height: 33px;
}
